<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login_assets/style.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>MAYOM</h1>
            <h2>Faça login e comece a gerenciar sua vida financeira!</h2>
            <img src="./static/login_assets/imagemfinanceiro.svg" class=left-login-image alt="financeiro">
        </div>
        <form class="right-login" action="dashboard" method="POST">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" placeholder="Usuario">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <button class="btn-login">Login</button>
                </form>
                <form action="registrar" method="POST">
                <button class="btn-register">Registrar</button>
                </form>
            </div>
    </div>
</body>
</html>