<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Registrar</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>MAYOM</h1>
            <h2>Comece sua nova jornada!</h2>
            <img src="../static/imagemfinanceiro.svg" class=left-login-image alt="financeiro">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>REGISTRAR</h1>
                <div class="textfield">
                    <label for="usuario">Usuario</label>
                    <input type="text" name="usuario" placeholder="Usuario">
                </div>
                <div class="textfield">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" placeholder="E-mail">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="textfield">
                    <label for="repitasenha">Senha</label>
                    <input type="password" name="repitasenha" placeholder="Repita sua senha">
                </div>
                <button class="btn-login">Registrar</button>
                <a href="index.html">
                    <button class="btn-register">Voltar</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>